name: fx_state_example
description: Example app for fx_state.
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  fx_state:
    path: ../

flutter:
  uses-material-design: true
